body {
   backgroud-image: url;
   color: #5555555;
   backgroud-size:cover;
   text-align: left;
   vertical-align: bottom;
   text-shadow: #119911;
}
.button {
    backgroud-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;  